body{
	margin-top: 5px;
	background-color: #E2E2E2;
	font-family: Verdana,Arial,Helvetica,sans-serif;        
        text-decoration: none;
        font-size: 14px;
}

.box-content{    
    background-color: #E2E2E2;
    height:200px;
}

.container{
	background-color: #fff;
	padding:10px;
	padding-top:20px;
	/*height: 750px;*/
}

.container-left-double{
	text-align:center;
	float:left;
	width:652px;
	/*background-color:red;*/
	
}

.container-left{
	text-align:center;
	float:left;
	width:326px;
	/*background-color:red;*/
}

.container-center{
	text-align:center;
	float:left;
	width:326px;
	/*background-color:yellow;*/
}

.container-right{
	text-align:center;
	float:left;
	width:326px;
	/*background-color:blue;*/
}

.footer{
	background-color:#092B41;
	height: 50px; 
	color: #fcc;
	font-size: 11px;
	text-align: center;
	padding-top: 35px;
}

.information-footer{
	background-color: #0C3A57; 
	color: #ccc;
	font-size: 12px;
	padding:40px;
	height:200px;
}

.information-footer-column{
	width:300px;
	float:left;
	text-align:center;
}

.lastStation{
    background-image: url('../images/bg1.png');   
    height:35px;
    color: #fff;
    padding-top: 15px;    
}

.menu{
	z-index: 1; 
	background-image: url('../images/transparent1.png');
	float:right;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	width:400px;
	height: 35px;	
}

.menu-item {
	word-spacing:48px;	
}

.menu-item a {
	text-decoration: none;
}

.menu-item a:link {
	color: #ccc;	
}

.menu-item a:active {
	color: #000;
}

.menu-item a:hover {
	color: #0DEA23;
}

.menu-item a:visited {
	color: #ccc;
}

.header{
	padding-top: 25px;
	padding-right: 15px;
	padding-left: 40px;
	height: 70px;
	background-color: #1B4762;
	background-image: url('../images/bg1.png');
}

.horizontal-div{
	text-align:center;
}

.space{
	height: 35px;
	clear: both; 
}

.stationDay{    
    background-image: url('../images/bg1.png');   
    height:35px;
    color: #fff;
    padding-top: 15px;
}

.twitter-div{
	text-align:center;
	float:left;
	width:313px;	
	padding-left:13px;
}

.warning{
    
    background-color: #FFFEB9;
    border: 1px solid #EDEA00;
    text-align: center;
    padding:5px;    
    word-spacing: 5px;
    letter-spacing: 2px;
    font-size: 12px;
}

.wrapper{
	width: 1000px; 
	margin:auto; 	
}
